@model MyBlogInitiation.ViewModels.ArticlesViewModel

<h1>Liste des articles</h1>

<div class="allArticles">
	@foreach(var article in Model.Articles)
	{
		if (article.Available)
		{
			<div class="card" style="width: 18rem;">
  @*<img class="card-img-top" src="..." alt="Card image cap">*@
  <div class="card-body">
    <h5 class="card-title">@article.Title</h5>
    @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
    <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">Lire plus </a>
  </div>
</div>
		} 

	}
</div>