@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Les conditions générales d'utilisations</h1>

<h2>A propos des conditions générales d'utilisation</h2>

<h3>Pour qui ? Pourquoi ?</h3>
<p>Les CGU représentent le contrat entre l’éditeur du site et l’internaute utilisateur ; aussi pour être valables, tout comme les CGV, les CGU doivent être acceptées (comme être présentées à l’utilisateur après sa première connexion au site) et être présentes sur chaque page (lien permanent accessible depuis chaque page)</p>

<p>Les Conditions Générales de d’Utilisation (CGU) ne sont pas obligatoires sur un site mais très fortement recommandées, quelque soit la nature du site (e-commerce, blog…). De manière générale les CGU, bien qu’elles aient un objet différent, intègrent les mentions légales visées les articles 6-III et 19 de la Loi n°2004-575 pour la confiance de l’économie numérique du 21 juin 2004. Si elles ne les incorporent pas, elle doit cependant indiquer le lien direct pour y accéder.</p>
<h3>Différences avec les CGV</h3>
<pB>Bien qu’elles contiennent en partie les mêmes mentions que les Conditions Générales de Vente (CGV), elles n’en sont pas redondantes pour autant, dans la mesure où elles n’ont pas le même objet. Il n’est donc pas inutile d’avoir à la fois des CGV, des CGU et mentions légales sur son site internet.</p>

<p>Là où les CGV régissent les relations commerciales entre les parties, les CGU interviennent dans les relations entre l’éditeur du site et l’internaute et enseignent notamment les règles de bonne utilisation du site. Il n’existe aucune obligation légale quant à la rédaction de ces CGU, néanmoins l’éditeur doit y être attentif.</p>

<h3>CGU et mentions légales</h3>
<p>Le modèle qui vous est proposé intègre les mentions légales obligatoires pour tout site internet.</p>

<p>Le présent modèle de CGU se veut le plus large possible mais peut nécessiter une adaptation à votre activité ou à certaines clauses particulières.</p>
    <p>Source : legalplace.fr</p>
